<h2>Введите n <= 10^6:</h2>

<%= form_with url: "/example/show", method: :get do |form| %>
  <%= form.label :n, "n:".upcase %>
  <%= form.number_field :n, in: 1..10**6, step: 1 %>
  <%= form.submit "Выполнить" %>
<% end %>
