<div id="<%= dom_id user %>">
  <p>
    <strong>Логин:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Почта:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Статус:</strong>
    <%= user.status %>
  </p>



</div>
