<div style="margin-left: 50px">

  <h1><%="#{t('users.edit')}"%></h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "#{t('static_pages.profile')}", @user %> |
    <%= link_to "#{t('show.to_list')}", users_path %>
  </div>

</div>
