<div style="margin-left: 50px">

  <h1>Editing user</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Посмотреть профиль", @user %> |
    <%= link_to "К списку пользователей", users_path %>
  </div>

</div>
