    <%=turbo_frame_tag 'frame1' do%>
        <ul class="list-group list-group-flush">
        <% @posts.reverse.each do |post| %>
            <li class="list-group-item">
            <%= render post %>
            <%= link_to "#{t('news.read')}", post%>
            </li>
        <% end %>
        </ul>
    <%end%>