<div class='container' style='margin-left: 50px'>
<h1>Редактирование новости</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Посмотреть эту новость", @post %> |
  <%= link_to "Назад к новостям", posts_path %>
</div>
</div>
