<div class='container' style='margin-left: 50px'>
<h1><%="#{t('new_post.edit')}"%></h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "#{t('show.look')}", @post %> |
  <%= link_to "#{t('show.to_news')}", posts_path %>
</div>
</div>
