<p style="color: green"><%= notice %></p>


<div class="container">
  <div class='row'>
      <div class= "col-6">
          <div id="posts">
              <h1>Последние новости:</h1>
                  <ul class="list-group list-group-flush">
                  <% @posts.reverse.each do |post| %>
                      <li class="list-group-item">
                      <%= render post %>
                      <%= link_to "Читать далее...", post%>
                      </li>
                  <% end %>
                  </ul>
          </div>
      </div>
      <div class= "col-6">
          <% if current_user.present?%>
          <h1>
          <%= link_to "Добавить новость", new_post_path%>
          </h1>
          <%end%>
      </div>
  </div>
</div>
